.grid-main {
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-template:
        "presentacion" auto
        "formulario" auto
    ;

    .presentacion {
        grid-area: presentacion;
        margin-top: 20px;
        background: #fff;
        color: #263a5e;
    }

    .formulario {
        grid-area: formulario;
        background: #fff;
        color: #263a5e;
    }


    @media (min-width: 768px) {
        justify-content: center;
        grid-template:
            "presentacion" auto
            "formulario" auto/
            750px;
        ;
    }

    @media (min-width: 992px) {
        justify-content: center;
        grid-template:
            "presentacion" auto
            "formulario" auto/
            1000px;
        ;
    }
}

.presentacion,
.formulario {
    padding: 40px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(25, 118, 210, 0.10);
}

.datospersonales,
.datosfisicos,
.autorizaciones,
.confirmar,
.datosacudiente {
    padding-top: 20px;
    background: #d2e6f5;
    box-shadow: 0 4px 20px rgba(25, 118, 210, 0.10);
    border-radius: 10px;
    margin: 20px;
}

form .secciones {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

form .col{
    margin-right: 9px;
}

form h2 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #263a5e;
}

.form-label {
    width: 180px;
    color: #1976d2;
    font-weight: 700;
    letter-spacing: 0.5px;   
}

.form input,
select {
    display: flex;
    align-items: flex;
    border-radius: 13px;
    border: 1px solid #b6e0fe;
    background: #f0eeee;
    color: black;
    transition: border 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 8px rgba(33, 42, 51, 0.342);
}

.form-control,
.form-select {
    background: #f4faff;
    border: 1px solid #b6e0fe;
    color: #1976d2;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(25, 118, 210, 0.03);
    margin-bottom: 12px;
}

.form-control:focus,
.form-select:focus {
    background: #e3f0ff;
    color: #0d47a1;
    border: 1.5px solid #1976d2;
    box-shadow: 0 0 0 2px #63a4ff44;
}

.confirmar{
    padding: 10px;
}
.confirmar .btn {
    background: linear-gradient(90deg, #ff5252 0%, #ff1744 100%);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    width: 400px;
    height: 50px;
    transition: background 0.3s, color 0.3s, transform 0.2s;
    font-size: 1.1rem;
    margin-top: 10px;
}

.confirmar .btn:hover {
    background: linear-gradient(90deg, #ff1744 0%, #ff5252 100%);
    color: #fff;
    transform: scale(1.03);
}